body{
    min-width:260px;
    margin: 0;
	  padding: 0;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

#main { 
    border:0px solid 0;
    text-align:center;    
  }

#top{
    display: flex;
    flex-direction: row;
    align-items: center; 
  }

#producto{
    display: flex;
    flex-direction: row;  
    align-items: center;  
  }

#boton{
  color:white; 
  background-color:#F67F01 ; 
  border-style:none;
  border-radius: 10px;  
  font-family: "Ubuntu Sans", sans-serif;
  font-size: 20px;
  padding: 10px;
}

#producto_detalle{
  padding-left: 150px;
  font-size: 30px;
}

#precio{
  font-size: 55px;
  font-weight: bolder;
}

#hipervinculo{
  font-size: 15px;
}

#fotos{
  background-color: #DCDCDC;
  align-items: center;
}

#descripcion{
  text-align: left;
}

#similares{
  padding-top: 20px;
}
